/* Base styles for Desktop */
html { 
  background: url('../public/Images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card{
  margin-left: 450px;
  margin-top: 150px;
}

/* Styles for Tablets */
@media (max-width: 768px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 80%; /* Adjust width based on your design */
  }
}

/* Styles for Mobile Phones */
@media (max-width: 480px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 95%; /* Adjust width based on your design */
  }
}